.pagination {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

.pages {
    padding: 0 20px;
}

.pagesDark {
    color: #cac4c4;
}
