main {
    max-width: 1200px;
    height: 30%;
    margin: 0 auto;
}

.wrapper {
    padding: 50px;
}

.searchBlock {
    padding-bottom: 20px;
}

.buttonError {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-left: 20px;
    background-color: #d4e0f5;

    &:hover {
        background-color: #a1c1f8;
        cursor: pointer;
    }
}